:root {
    font-size: 20px;
    /* Color variables */
    --color__primary: #607d8b;
    --color__primary--dark: #34515e;
    --color__primary--light: #8eacbb;
    --color__secondary: #ffa000;
    --color__secondary--dark: #c67100;
    --color__secondary--light: #ffd149;
    --color__section-background: #f7f6f3;

    /* Spacing variables */
    --space: 10px;
    --space__last-element: calc(var(--space) + var(--height__navigation));

    /* Size variables */
    --height__navigation: 3.5rem;
    --font: 1rem;
    --font--small: 0.5rem;

    /* other */
    --border-radius: 5px;
}

body { /* Basic */
    box-sizing: border-box;
    max-width: 100vw;
    background-color: var(--color__primary--dark);
    font-family: "Arial", sans-serif;
}

.first-level-section { /* Basic */
    margin: var(--space);
    padding: var(--space);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    background: var(--color__section-background);
}

    .first-level-section--header {
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: transparent;
    }

    .first-level-section--main-content {
    }

    .first-level-section--footer {
        margin-bottom: var(--space__last-element);
    }

/* ------------------- */

.navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    height: var(--height__navigation);
    width: 100%;
    max-width: 100vw;
    margin: 0;
    background-color: var(--color__primary--light);
}

.list { /* Basic */
    width: 100%;
}

.list:active {
}

    .navigation__list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 100%;
        width: 100%;
        margin-left: 0;
        padding: 0 var(--space);
        line-height: 1.5rem;
        list-style: none;
        clip-path: inset(0px 0px 60% 0px);
    }

    .list__item {
        max-width: 20%;
    }

    .list__link {
        text-decoration: none;
    }

    .list__link:hover,
    .list__link:active,
    .list__link:focus {
        color: var(--color__secondary);
        text-decoration: overline;
    }

/* ------------------- */

.teaser {
    padding-bottom: var(--space);
}

/* ------------------- */

.news {}

.news--sidebar {
    display: none;
}

.article,
.contact,
.about { /* Basic */ 
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-bottom: var(--space);
    padding: var(--space);
    border: 1px solid var(--color__primary--dark);
    border-radius: var(--border-radius);
    box-shadow: 2px 2px var(--color__primary--dark);
    background-color: var(--color__secondary--light);
}

    .article--news {
    }

/* ------------------- */

.contact {}

/* ------------------- */

.about {
}

/* ------------------- */

.content-break { /* Basic */
}

.line-break { /* Basic */
}

.date { /* Basic */
}

/* ------------------- */

/* Headings */

.heading-1,
.heading-2,
.heading-3,
.heading-teaser { /* Basic */
    color: var(--color__primary--dark);
    font-family: Georgia, Times, "Times New Roman", serif;
    text-align: center;
    text-transform: uppercase;
}

.heading-teaser {
    font-size: 2rem;
}

.heading-teaser::before,
.heading-teaser::after {
    content: "♦";
    display: block;
    color: var(--color__secondary);
}

.heading-1 {
    color: var(--color__secondary--dark);
    font-size: 2.5rem;
}

.heading-2 {
    font-size: 1.5rem;
}

.heading-3 {
    font-size: 1.5rem;
}

/* ------------------- */

/* Copy */

.copy,
.information,
.emphasize,
.blockquote,
.superscript,
.legend,
.label,
.image__caption,
.list__link,
.form-options { /* Basic */
    color: var(--color__primary--dark);
    font-size: var(--font);
    order: 2;
}

    .copy--date {
        text-align: end;
        width: 100%;
        color: var(--color__primary);
        font-size: var(--font--small);
        order: -1;
    }

    .copy {
        line-height: var(--font);
        max-width: 40ch;
    }

    .copy--about {
        text-align: center;
        max-width: unset;
    }

    .copy--news::first-letter {
        margin-left: var(--space);
        color: var(--color__secondary--dark);
        font-size: 2rem;
    }

    .information { /* Basic */
        font-size: var(--font--small);
        color: var(--color__primary);
    }

    .image__caption { /* Basic */
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        width: 100%;
        margin-top: var(--space);
        font-size: var(--font--small);
    }

        .image__caption--teaser {}

        .image__caption--news {}

    .emphasize { /* Basic */

    }

    .blockquote { /* Basic */
        padding-left: var(--space);
        border-left: 2px dotted var(--color__primary--dark);
    }

    .superscript { /* Basic */

    }

    .legend { /* Basic */
        font-size: var(--font);
    }

    .copy--small {
        font-size: var(--font--small);
    }

    .copy--address {
        font-size: var(--font);
    }

    .label { /* Basic */
        font-size: var(--font);
    }

    .radios-group > .label {
        vertical-align: text-top;
        font-size: var(--font--small);
        padding-left: var(--space);
    }

    .radios-group {
        display: inline-block;
    }

    .label--newsletter {
        vertical-align: text-top;
        font-size: var(--font--small);
    }

/* ------------------- */

/* Links */

.link { /* Basic */

}

/* ------------------- */

/* Forms */

.form { /* Basic */
}

    .form--search {
    }

    .form-options--search {

    }

    .form-option--search {}

    .form-options--select {
    }

    .form-options {
        
    }

    .form-option--select {
    }

    .form--contact {
        width: 100%;
    }

    .form--about {
    }

.fieldset {
    max-width: 100%;
    min-width: 0;
    margin-bottom: var(--space);
    padding-left: 0;
    border: none;
    border-bottom: 1px solid var(--color__primary--dark);
}

    .fieldset--inner {
        margin: 0;
        border: none;
    }

.select { /* Basic */
    height: 2rem;
    min-width: 60%;
    margin: calc(var(--space) * 0.5) 0px;
    padding: 0px var(--space);
    border-style: solid;
    border-width: 0 0 3px 0;
    border-color: var(--color__primary--dark);
}

.select:hover {
    border-color: var(--color__secondary--dark);
}

/* ------------------- */

.button { /* Basic */
    min-height: 2rem;
    width: 100%;
    margin-bottom: var(--space);
    border: none;
    box-shadow: 2px 2px 2px var(--color__primary--light);
    font-weight: bold;
    background-color: var(--color__secondary);
    text-transform: uppercase;
    transition: background-color 1s ease, border-radius 1s ease;
}

.button:hover {
    border-radius: var(--border-radius);
    background-color: var(--color__secondary--light);
    cursor: pointer;
}

    .button--submit {
    }

.button-group {
}

.radio { /* Basic */
}

.text-input { /* Basic */
    display: block;
    min-height: 2rem;
    width: 60%;
    margin: calc(var(--space) * 0.5);
    padding: 0px var(--space);
    border-style: solid;
    border-width: 0 0 3px 0;
    border-color: var(--color__primary--dark);
}

.text-input:hover {
    border-color: var(--color__secondary--dark);
    cursor: text;
}

    .text-input--area {
        height: 4rem;
        width: 60%;
    }

    .text-input--search {
        width: 100%;
        margin-left: 0;
    }

.checkbox { /* Basic */
    height: 2rem;
    margin: 0 var(--space) 0 0;
}

/* ------------------- */

/* Images */

.image { /* Basic */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
    order: 1;
}

    .image--news {
    }

    .image--teaser {}

    .image__visual {
       display: inline-block;
       vertical-align: middle;
       align-self: center;
       max-width: 100%;
       max-height: auto;
    }

        .image__visual--teaser {}

        .image__visual--news {
        }

@media (min-width: 480px) {

    .first-level-section--subpage {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
    .article,
    .contact,
    .about { /* Basic */
        display: flex;
        flex-direction: column;
        margin-bottom: var(--space);
        padding: var(--space);
        border: 1px solid var(--color__primary--dark);
        border-radius: 5px;
        box-shadow: 2px 2px var(--color__primary--dark);
        background-color: var(--color__secondary--light);
    }

    .copy--date {
        text-align: center;
    }

    .copy--intro {
        order: 1;
    }

    .copy {
        align-self: center;
        text-align: center;
    }

    .news {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .news--main {
        display: flex;
        flex-direction: column;
        min-width: 60%;
        margin-left: var(--space);
        margin-right: var(--space);
        border-right: 1px solid var(--color__primary--dark);
    }

    .news--sidebar {
        display: flex;
        flex-direction: column;
        max-width: 30%;
    }

    .article--news {
        max-width: 30%;
    }

    .article--sidebar {
        max-width: 100%;
    }

    .news > .heading-2 {
        min-width: 100%;
    }

    .about {
        max-width: 100%;
    }

    .contact {
        max-width: 100%; 
    }
}

.searchbar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(117, 111, 111, 0.7);
}

    .visible {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }